/* Override Minimal Mistakes responsive base font sizing */
html { font-size: 16px !important; }

@media (min-width: 48em) { html { font-size: 16px !important; } }
@media (min-width: 64em) { html { font-size: 16px !important; } }
@media (min-width: 80em) { html { font-size: 16px !important; } }
